<!DOCTYPE html>
<html>
<head>
<title>GCC CANTEEN</title>
<style type="text/css">
<!--
.style1 {
	font-size: 15px;
	font-weight: bold;
	color: red;
}
-->
</style>
</head>
<body>
<div style="margin:10px;">
   <img src="http://10.162.16.254/GCC_Canteen/assets/images/logo_big.png">
    <header>
      
      <div style="margin-left: 45px">
        <h1 style="font-family:'Roboto', sans-serif !important;">Password Reset Email</h1>
      </div>
    </header>
    <div style="margin-left:45px;margin-right:45px;">
      <h3 style="font-family:'Roboto', sans-serif !important;">Thank you for accessing  Canteen</h3>
      <br>
      <p style="font-size: 13px;font-family:'Roboto', sans-serif !important;">You're receiving this e-mail because you requested a password reset for your user account.</p>
      <p style="font-size: 13px;font-family:'Roboto', sans-serif !important;">Please login using your temporary password <span class="style1">#Password#</span>. After login, request you to set a new password to your account.</p>
      <p style="font-size: 13px;font-family:'Roboto', sans-serif !important;"><a href="http://10.162.16.254/GCC_Canteen">Click here to login</a></p>
      <p style="font-size: 13px;font-family:'Roboto', sans-serif !important;">Please feel free to contact us for any further assistance.</p>
      <p style="font-size: 13px;font-family:'Roboto', sans-serif !important;">Canteen Support Team</p>
    </div>
    <!--<div style="background-color: #e2e2e2;margin-top:40px;margin-bottom:-12px;">
      <p style="font-size: 13px;width: 100%;text-align:center;color: #90999c;font-family:'Roboto', sans-serif !important;padding:8px;padding-top:15px;padding-bottom:15px;">Walchand PeopleFirst Ltd, 1, Construction House 5, Walchand Hirachand Marg, Ballard Estate, Mumbai 400001
        Tel : 91- 22-67818112 - Fax : 91-22-22610574 - Email : <a href="it@walchandgroup.com">it@walchandgroup.com</a></p>
    </div>-->
  </div>

</body>
</html>
